@if(postResource.isLoading()){
<h3>Loading...</h3>
} @else if(postResource.error()){
<h3>Error...</h3>
} @else if(postResource.value()){
<div class="post-content">
     <button (click)="callChildMethod()">@ViewChild: Call Child Method</button> 
        <p>Total(Pipe Eg): {{ 10.52 | currency }}</p>

     <h3>{{childComponentProperty()}}</h3>
    <h1>{{ postResource.value()?.title }}</h1> 
    <div class="post-meta">postResource ID: {{ postResource.value()?.id }} | User ID: {{ postResource.value()?.userId }}
    </div>
    <p class="post-body">{{ postResource.value()?.body }}</p>
    <!-- <a [routerLink]="['/posts']" class="back-link">← Back to Posts {{postResource.value()?.id}}</a> -->
    <!--Child: Post comments-->
    <app-post-comments [postId]="postResource.value()?.id">
        <h3>Ng-Content: Additional data</h3>
    </app-post-comments>
</div>
}