<mat-toolbar color="primary" class="navbar" style="gap: 16px;">
  <span class="logo">MyApp</span>

  <span class="spacer"></span>

  <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" mat-button>Home</a>
  <a routerLink="contact" routerLinkActive="active" mat-button>Contact</a>
  <a routerLink="users" routerLinkActive="active" mat-button>Users</a>
  <a routerLink="posts" routerLinkActive="active" mat-button>Posts</a>
  <a routerLink="country-app" routerLinkActive="active" mat-button>Country App</a>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item>
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>
    <button mat-menu-item>
      <mat-icon>contact_mail</mat-icon>
      <span>Contact</span>
    </button>
  </mat-menu>
</mat-toolbar>