@if (isLoading()) {
<p>Loading...</p>
} @else{
@for (user of usersData(); track user.id) {
<mat-card class="user-card" appearance="outlined">
    <mat-card-header>
        <div mat-card-avatar class="avatar">
            <mat-icon>person</mat-icon>
        </div>
        <mat-card-title>{{ user.name }}</mat-card-title>
        <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
        <button mat-icon-button color="primary" aria-label="Next" class="back-button">
            <a [routerLink]="['/users', `${user.id}`]"><mat-icon>arrow_forward</mat-icon></a>
        </button>
    </mat-card-header>

</mat-card>

<!-- <p>{{ user.name }} - {{ user.email }} - <a [routerLink]="['/users', `${user.id}`]">{{ user.id }}</a> -->
<!-- </p> -->
}
}