@if (usersResource.isLoading()) {
<p>Loading...</p>
} @else if(usersResource.error()){
<p>Error...</p>
} @else {
@for (user of usersResource.value(); track user.id) {
<mat-card class="user-card" appearance="outlined">
    <mat-card-header>
        <div mat-card-avatar class="avatar">
            <mat-icon>person</mat-icon>
        </div>
        <mat-card-title>{{ user.name }}</mat-card-title>
        <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
        <button mat-icon-button color="primary" aria-label="Next" class="back-button"
            [routerLink]="['/users', user.id]">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </mat-card-header>
</mat-card>
}
}