@if(postsResource.isLoading()){
<h3>Loading...</h3>
} @else if(!postsResource.isLoading() && postsResource.error()){
<h3>Error...</h3>
} @else if(postsResource.value()){
<p>posts-overview.component works!</p>
@for(post of postsResource.value(); track post.id){
<div class="post-content">
    <h1>{{ post.title }}</h1>
    <div class="post-meta">Post ID: {{ post.id }} | User ID: {{ post.userId }}</div>
    <p class="post-body">{{ post.body }}</p>
    <a [routerLink]="['/posts', post.id]" class="read-more">
        Read More →
    </a>
    <!-- <app-post-comments [postId]="post.id"></app-post-comments> -->
</div>
}

}