.post-content{
      padding: 16px;
      /* background-color: #f9f9f9; */
      border-radius: 6px;
      border: 1px solid #ddd;
      /* margin-bottom: 12px; */
      height: 300px;
      overflow-y: auto;
}
.text-align-center {
  text-align: center;
}