<p>post-comments.component works! {{commentResource.value()}}</p>
<p>post-details.component works!</p>
@if(commentResource.isLoading()){
<h3>Loading...</h3>
} @else if(commentResource.error()){
<h3>Error...</h3>
} @else if(commentResource.value()){
@for(comment of commentResource.value(); track comment?.id){
<div class="post-content">
    <h1>{{ comment.id }}</h1>
    <!-- <div class="post-meta">commentResource ID: {{ commentResource.value()?.id }} | User ID: {{ postResource.value()?.userId }}
    </div>
    <p class="post-body">{{ postResource.value()?.body }}</p>
    <a [routerLink]="['/posts']" class="back-link">← Back to Posts</a>
    <app-post-comments [postId]="postResource.value()?.id"></app-post-comments> -->
</div>
}

}